PAYNODO_BASE_URL=https://sandbox-api.paynodo.com
PAYNODO_MERCHANT_ID=replace_with_sandbox_merchant_id
PAYNODO_MERCHANT_SECRET=replace_with_sandbox_merchant_secret
PAYNODO_PRIVATE_KEY_PATH=./merchant-private-key.pem
PAYNODO_PLATFORM_PUBLIC_KEY_PATH=./paynodo-public-key.pem
PAYNODO_ACCOUNT_NO=replace_with_account_no
PAYNODO_MERCHANT_NAME=Integrated Merchant
PAYNODO_CALLBACK_URL=https://merchant.example/webhooks/paynodo
PAYNODO_REDIRECT_URL=https://merchant.example/return
PAYNODO_PAYER_PIX_ACCOUNT=48982488880
PAYNODO_RECEIVER_TAX_NUMBER=12345678909
PAYNODO_RECEIVER_NAME=Betty
